.map {
    width: 90vw;
    height: 90vh;
    background-color: #333;
}
 

[class*="copyrights-pane"] {
	display: none !important;
}

[class*="ground-pane"] {
	filter: grayscale(1);
}
body, html {
    margin: 0;
    padding: 0;
}
