html {
	font-size: 16px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000;

	min-width: 320px;
   
}

img {
	max-width: 100%;
	height: auto;
}

section {
	padding: 50px 0;
}

a {
	color: #111;
}

a:hover {
	color: #555;
}

/* Header */
.navbar-light .navbar-nav .nav-link {

	font-weight: 500;
	text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
	right: 0;
	left: auto;
}

.top-menu li a::after {
	content: '';
	display: block;
	width: 100%;
	background-color: #111;
	height: 1px;
	transition: all .3s;
	transform: scale(0);
}

.top-menu li a:hover::after {
	transform: scale(1);
}

.modal-body img {
	max-width: 100px;
}
/* Header */

/* Carousel */
.my-carousel {
	padding: 0;
}


.my-carousel {
    max-width: 50%; 
    margin: auto; 
  }
  
  .carousel-inner {
    width: 200%;
  }
  
  .carousel-item {
    width: 50%;
    height: auto; 
  }
  
  
  nav.navbar {
    background-color: #9C2C46 !important;
}

nav.navbar .navbar-nav .nav-link {
    color: #fff !important; 
}

.description {
	text-align: center;
}

.description h1 {
	font-size: 2em; 
	margin-bottom: 20px; 
}

.description p {
	font-size: 1em; 
    line-height: 1.6; 
	text-align: left;
}
@media only screen and (max-width: 767px) {
    .description h1 {
        font-size: 1em; 
      }
    .description p {
      font-size: 0.8em; 
    }
  }
.carousel {
    border: 5px solid #9C2C46; 
    border-radius: 10px; 
}
.carousel {
    border-radius: 15px;
    overflow: hidden;
}



.custom-footer {
  background-color: #9C2C46; /* Цвет фона - светлее чем полоска */
  color: white; /* Черный текст */
  padding-top: 20px;
  margin-top: auto;
  position: relative; /* Добавим позиционирование для ::before псевдоэлемента */
}

.custom-footer::before {
  content: ''; /* Создаем псевдоэлемент для полоски в начале */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.08px; /* Высота полоски */
  background-color: #c796a1; /* Цвет полоски */
}

.custom-footer a {
  color: black; /* Черный текст ссылок */
  text-decoration: none;
}

.custom-footer a:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}





input {
  margin: 10px 0;
  padding: 10px;
  border: unset;
  border-bottom: 2px solid #694A38;
  outline: none;
}

button {
  padding: 10px;
  background: #9C2C46;
  border: unset;
  cursor: pointer;
}

.msg {
  border: 2px solid #694A38;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.logout {
  color: #b7625c;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}



.my-carousel {
  max-width: 50%;
  margin: auto;
  margin-bottom: 20px; 
}

.carousel-inner {
  width: 200%;
}

.carousel-item {
  width: 50%;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .my-carousel {
      max-width: 80%;
      margin-bottom: 5px; 
  }

  .carousel-inner {
      width: 100%;
  }

  .carousel-item {
      width: 100%; 
      height: auto;
  }
}

section {
  padding: 10px 0;
}